.game {
  margin: 0 auto;
  width: 600px;
  .bins {
    width: 500px;
    margin: 0 auto;
    .bin {
      display: inline-block;
      box-shadow: 2px 2px 2px #000;
      width: 100px;
      height: 140px;
      margin: 10px;
    }
    .timer {
      text-align: right;
    }
  }

  .bombs {
    position: relative;
    width: 500px;
    height:500px;
    margin: 0 auto;
    .bomb {
      display: block;
      box-shadow: 2px 2px 2px #000;
      width: 50px;
      height: 50px;
      margin: 10px;
      position: absolute;
      border-radius: 35px;
      -webkit-transition:width 5000ms ease-in-out, height 5000ms ease-in-out;
      -moz-transition:width 5000ms ease-in-out, height 5000ms ease-in-out;
      -o-transition:width 5000ms ease-in-out, height 5000ms ease-in-out;
      transition:width 5000ms ease-in-out, height 5000ms ease-in-out;
      span {
        background-color: blanchedalmond;
        border-radius: 15px;
        width: 21px;
        height: 21px;
        position: absolute;
        left: -5px;
        box-shadow: 2px 2px 2px #000;
      }
    }


  }
  .finished {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    background-color: blanchedalmond;
  }
  .right {
    float: right;
  }
}
